</div>

		<footer class="page-footer">
			<div class="container">
				<section class="footer-section">
					<h4 class="footer-section-title">Tags</h4>
					<ul>
						<li><a href="">#tag1</a></li>
						<li><a href="">#tag2</a></li>
						<li><a href="">#tag3</a></li>
						<li><a href="">#tag4</a></li>
					</ul>
				</section>

				<section class="footer-section">
					<h4 class="footer-section-title">joaohis é...</h4>
					<p>Aqui estará um breve texto que descreverá um pouco do blog. Ao final, serão adicionados alguns botõezinhos que encaminham o leitor a algumas das mídias sociais que acompanho</p>
				</section>

				<div class="clear-float"></div>
			</div>
	</body>
</html>