<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="pt-br">
    <meta name="description" content="Descrição da página">
    <meta name="keywords" content="Palavras, chave">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Serif:400,400italic">
    <link rel="stylesheet" href="css/styles.css">
    <script src=""></script>
  </head>
  
  <body>
    <header class="page-header">
      <div class="container">
        <nav class="nav-main">
          <ul>
            <li class="nav-main-item"><a href="">Quem é?</a></li>
            <li class="nav-main-item"><a href="">Arquivo</a></li>
            <li class="nav-main-item"><a href="">Projetos</a></li>
            <li class="nav-main-item"><a href="">Contato</a></li>
          </ul>
        </nav>

        <h1 class="blog-title">joaohis</h1>
      </div>
    </header>

    <div class="container">